form{
    display: flex;
    flex-direction:column;
    gap: 1rem;

    width: fit-content;
}

h1{
    margin: 0px;
}

button{
    width: fit-content;
    align-self: center;
}

.form-container-1{
    flex-direction: row;
}

.form-container-2{
    flex-direction: row;
}
